<div class="connection ui segment">

  <div class="connection-header">
    <h2 class="ui headers">Connections</h2>
  </div>

  <% @user.friends.each do |friend| %>
    <li><%= link_to friend.username, user_path(friend) %></li>
  <% end %>

</div>