<h1 class="ui headers"><%= @user.name.capitalize %>'s Profile! </h1>

<div class="friend-unfriend-button">
  <table>
    <tr>
      <td> <%= button_to "#{current_user.name}'s Profile", user_path(current_user), class: "ui red button", method: :get %></td>
      <td>
        <%if current_user.friends.include?(@user) %>
          <%= button_to "Unfriend", { action: "destroy", id: @user.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "ui red button" %>
        <% else %>
          <% if current_user.id != @user.id %>
            <%= button_to "Add Friend", { action: "friendship" }, class: "ui red button" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>