<div class="ui container segments">
  <center><h1 class="ui headers">Leader Board</h1></center><br>
  <center><h3>Do you have what it takes to be the best?</h3></center><br>
  <center><%= render 'playbutton' %></center><br><br>
  <center><%= render 'track' %></center>
</div>