<div class="rules>">
  <center><h1 class="ui header">Rules of the Game</h1></center><br>
  <li class="rule">Your opponent, the computer, will select a word for you to guess based off your chosen difficulty level</li>
  <li class="rule">The word will be displayed to you, but hidden. You will then guess a letter</li>
  <li class="rule">If that letter is in the word, it will be placed everywhere the letter would appear in the actual word</li>
  <li class="rule">If that letter is not in the word, a body part will be added to be hung</li>
  <li class="rule">You have six chances to guess a letter that's not in the word before the game is over</li>
  <li class="rule">If you select all the letters in the word, you win</li>
  <li class="rule">Members of this site are given three "band-aids" which allow you an extra guess</li>
  <li class="rule">Members also have access to see the Hangman leaderboard and add friends</li>
</div>