<div class="rules>">
  <center><h1 class="ui header">Rules of the Game</h1>
    <li>Tfds fksd ffdsfs djsfl jfkld sfj lds kf jlk fjlk dsfjl dskfljdsl fjlk fd ksljf fkdsj fj ldj fksdj</li>
    <li>Tfds fksd ffdsfs djsfl jfkld sfj lds kf jlk fjlk dsfjl dskfljdsl fjlk fd ksljf fkdsj fj ldj fksdj</li>
    <li>Tfds fksd ffdsfs djsfl jfkld sfj lds kf jlk fjlk dsfjl dskfljdsl fjlk fd ksljf fkdsj fj ldj fksdj</li>
    <li>Tfds fksd ffdsfs djsfl jfkld sfj lds kf jlk fjlk dsfjl dskfljdsl fjlk fd ksljf fkdsj fj ldj fksdj</li>
    <li>Tfds fksd ffdsfs djsfl jfkld sfj lds kf jlk fjlk dsfjl dskfljdsl fjlk fd ksljf fkdsj fj ldj fksdj</li>
  </center>
</div>