<%= form_for @game do |f|  %>

  <% if @errors %>
    <ul>
    <% @errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

<b>Guess a letter:</b> <br>

<%= f.text_field :letter %>
  <%= f.submit "Submit" %>

<% end %>
<br><br>