<h3>First Aid <i class="first aid icon"></i> </h3>
<p>You have <%= pluralize(current_user.bandaids, "band-aid") %> remaining</p>

<table>
  <tr>
    <td>
      <% if current_user.bandaids >= 1 %>
        <%= button_to "+", { action: "bandaid" }, class: "ui red button" %>
      <% end %>
    </td>
    <td>
      <% if current_user.bandaids >= 2 %>
        <%= button_to "+", { action: "bandaid" }, class: "ui red button" %>
      <% end %>
    </td>
    <td>
      <% if current_user.bandaids >= 3 %>
        <%= button_to "+", { action: "bandaid" }, class: "ui red button" %>
      <% end %>
    </td>
  </tr>
</table>