<h2> Congratulations! You solved it! </h2>
<h3>Share your win</h3>
<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Hooray! I just won a game of Hangman! You should play this game made by @zaraaslam" data-url="https://linkedin-hangman.herokuapp.com" data-hashtags="hangman" data-lang="en" data-show-count="false">Tweet</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

