<h2> Congratulations! You solved it! </h2>
<h3>Share your win</h3>
<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Hooray! I just won hangman by solving the word "<%= @game.word %>". You should play this game made by @zaraaslam" data-url="https://kinect-4.herokuapp.com" data-hashtags="hangman" data-lang="en" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=SHAREMESSAGE" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
