.huge-font {
  font-size: 100px;
}

.medium-font {
  font-size: 45px;
}

.spacing {
  letter-spacing: 10px;
}

.user-form {
  max-width: 570px;
  margin: auto; 
}

.rule {
  margin-left: 70px; 
}

tr {
border-spacing: 0;
border-collapse: collapse;
}

body {
  font-size: 18px; 
}